*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
    
}

h1{
    text-align: center;
    background-color: rgb(1, 1, 1);
    color: white;
    margin: 8px;
}

a{
    background-color: black;
    color: white;
}
.headers{
    text-align: center;

}
img{
    height: auto;
    width: 200px;
}

ul,
ol{
    text-align: center;
    margin: auto;
}